## **Assignment 2**

#### Lab2

In [39]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score

In [58]:

dataframe1 = pd.read_csv('./Lab2_dataset.csv')

d1 = dataframe1['text']
d2 = dataframe1['label']


vectorizer = CountVectorizer()
df_vectorized = vectorizer.fit_transform(d1)

X_train, X_test, y_train, y_test = train_test_split(df_vectorized, d2, test_size=0.2, random_state=20)

print("Training set shape:", X_train.shape, y_train.shape)
print("Testing set shape:", X_test.shape, y_test.shape)

Training set shape: (4136, 50447) (4136,)
Testing set shape: (1035, 50447) (1035,)

In [59]:

svc_model = SVC()
svc_scores = cross_val_score(svc_model, X_train, y_train, cv=5)
svc_accuracy = svc_scores.mean()
print("SVC Accuracy:", svc_accuracy)


gaussian_model = GaussianNB()
gaussian_scores = cross_val_score(gaussian_model, X_train.toarray(), y_train, cv=5)
gaussian_accuracy = gaussian_scores.mean()
print("Gaussian Naive Bayes Accuracy is :", gaussian_accuracy)

multi_model = MultinomialNB()
multi_scores = cross_val_score(multi_model, X_train, y_train, cv=5)
multi_accuracy = multi_scores.mean()
print("Multinomial Naive Bayes Accuracy is :", multi_accuracy)

SVC Accuracy: 0.9586553458458196
Gaussian Naive Bayes Accuracy is : 0.9584146761766235
Multinomial Naive Bayes Accuracy is : 0.9799332901062568

Guassian Naive Bayes Accuracy is best from the output

#### PART B

In [45]:
import pandas as pd
import numpy as np

In [52]:
data_frame2 = pd.read_csv('./AB_NYC_2019.csv')
data_frame2.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [57]:



z_score = np.abs((data_frame2['price'] - data_frame2['price'].mean()) / data_frame2['price'].std())
threshold = 2.5
df_clean_zscore = data_frame2[z_score <= threshold]


Q1 = data_frame2['price'].quantile(0.25)
Q3 = data_frame2['price'].quantile(0.75)
IQR = Q3 - Q1
lower_whisker = Q1 - 1.5 * IQR
upper_whisker = Q3 + 1.5 * IQR
df2_whiskers = data_frame2[(data_frame2['price'] >= lower_whisker) & (data_frame2['price'] <= upper_whisker)]
df2_whiskers.head()


print("Number of outliers removed using Z-score approach :", len(data_frame2) - len(df_clean_zscore))
print("Number of outliers removed using Whiskers approach :", len(data_frame2) - len(df2_whiskers))


df_clean_zscore.to_csv('clean_dataset_zscore.csv', index=False)
df_clean_whiskers.to_csv('clean_dataset_whiskers.csv', index=False)

Number of outliers removed using Z-score approach : 508
Number of outliers removed using Whiskers approach : 2972

Conclusion:
From the output, Whiskers approach is effective in resolving outliers