__Import Necessary Libraries and load dataset__

In [60]:
import pandas as pd
import numpy as np

#Read the data
data = pd.read_csv("datasets\Lab_2\Lab2_dataset.csv")
data.head(5)

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

__Exploring the dataset__

In [61]:
data['text'].head(5)

0    Subject: enron methanol ; meter # : 988291\r\n...
1    Subject: hpl nom for january 9 , 2001\r\n( see...
2    Subject: neon retreat\r\nho ho ho , we ' re ar...
3    Subject: photoshop , windows , office . cheap ...
4    Subject: re : indian springs\r\nthis deal is t...
Name: text, dtype: object

__Transform the "text" feature to a vector representation of a predetermined size__

In [63]:
import sklearn as sk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(data['text'])

__Splitting the dataset into testing and training__

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, data['label'], test_size=0.2, random_state=0)

__Train the Sklearn SVC model on the training dataset__

In [68]:
from sklearn import svm
from sklearn.svm import SVC
clf = svm.SVC()
clf.fit(X_train, y_train)

SVC()

In [69]:
y_pred = clf.predict(X_test)

In [77]:
from sklearn.metrics import accuracy_score

accuracy_svc = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy_svc)

Accuracy: 0.9565217391304348

__Training and Evaluation using Gaussian Classifiers__

In [78]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
X_train_dense = X_train.toarray()
gnb.fit(X_train_dense, y_train)

GaussianNB()

In [79]:
gnbpredict = gnb.predict(X_test.toarray())

In [80]:
accuracy_gnb = accuracy_score(y_test, gnbpredict)
print("Accuracy:", accuracy_gnb)

Accuracy: 0.9632850241545894

__Training and Evaluation using Multinomial Naiive Bayes Classifiers__

In [81]:
from sklearn.naive_bayes import MultinomialNB

# create an instance of the Multinomial Naive Bayes model
mnb = MultinomialNB()

# fit the model to the training data
mnb.fit(X_train, y_train)

# use the trained model to predict the labels of the test data
mnbpredict = mnb.predict(X_test)

In [82]:
accuracy_mnb = accuracy_score(y_test, mnbpredict)
print("Accuracy:", accuracy_mnb)

Accuracy: 0.9768115942028985

In [83]:
print("SVC Model Accuracy:", accuracy_svc)
print("Gaussian Naive Bayes Model Accuracy:", accuracy_gnb)
print("Multinomial Naive Bayes Model Accuracy:", accuracy_mnb)

SVC Model Accuracy: 0.9565217391304348
Gaussian Naive Bayes Model Accuracy: 0.9632850241545894
Multinomial Naive Bayes Model Accuracy: 0.9768115942028985

__Part B__

__Load Dataset__

In [88]:
data = pd.read_csv("AB_NYC_2019.csv")
data.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [89]:
mean_price = data['price'].mean()
std_price = data['price'].std()

print("Mean Price:",mean_price)
print("Standard Deviation:", std_price)

Mean Price: 152.7206871868289
Standard Deviation: 240.15416974718758

__Remove Outliers using Whiskers Approach__

In [95]:
Q1 = data['price'].quantile(0.25)
Q3 = data['price'].quantile(0.75)
IQR = Q3 - Q1

whisker = 1.5
lower_whisker = Q1 - whisker * IQR
upper_whisker = Q3 + whisker * IQR

print("Lower Whisker:", lower_whisker)
print("upper Whisker:", upper_whisker)

df_no_outliers_iqr = data[(data['price'] >= lower_whisker) & (data['price'] <= upper_whisker)]
print("Shape of new dataset:",df_no_outliers_iqr.shape[0])

Lower Whisker: -90.0
upper Whisker: 334.0
Shape of new dataset: 45923

In [96]:
df_no_outliers_iqr.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

__Remove Outliers using Z-score approach__

In [97]:
from scipy import stats
z = np.abs(stats.zscore(data['price']))

threshold = 3

df_no_outliers_zscore = data[(z < threshold)]
print("Shape of new dataset:",df_no_outliers_zscore.shape[0])

Shape of new dataset: 48507

In [98]:
df_no_outliers_zscore.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0